<!DOCTYPE HTML>
<html>
<head>
<!--    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../../favicon.ico"/> -->

    <title>TraineeShip.ENU</title>

    <link href="/css/welcomepage.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
  <!--  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
  <!--  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
    <!--[endif]-->
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">TraineeShip</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="http://www.enu.kz/">Home</a></li>
                            <li><a href="https://edu.enu.kz/">Platonus</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">TraineeShip.ENU</h1>
                <p class="lead">Жоғарғы оқу орнындағы студенттік кәсіби тәжірибенің ұйымдастырылуын жылдамдататын тиімді сервис</p>
                <p class="lead">
                    <a href="/news" class="btn btn-lg btn-default">Жалғастыру</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Еуразиялық ұллтық университетінің басты сайты <a href="http://www.enu.kz/">@ENU</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
</body>
</html>
